Repository gXiaofei/umijs4demo: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, max lint --fix --eslint-only

.lintstagedrc:

{
    "*.{md,json}": [
        "prettier --write"
    ],
    "*.{js,jsx}": [
        "max lint --fix --eslint-only",
        "prettier --write"
    ],
    "*.{css,less}": [
        "prettier --write"
    ],
    "*.ts?(x)": [
        "max lint --fix --eslint-only",
        "prettier --parser=typescript --write"
    ]
}

feat: style
  .stylelintrc.js
  src/components/HeaderDropdown/index.less
  src/components/NoticeIcon/NoticeList.less
  src/components/NoticeIcon/index.less
Due: prettier --write, max lint --fix --eslint-only

feat: add iconfont
  config/config.ts
  config/defaultSettings.ts
  config/routes.ts
  src/app.tsx
  src/assets/iconfont.js
  src/components/IconFont/index.tsx
  src/global.ts
  src/pages/Loading.tsx
  src/pages/Login/index.tsx
Due: prettier --write, max lint --fix --eslint-only

feat: add ts-ignore
  src/components/IconFont/index.tsx
Due: none

feat: add config
  config/config.ts
  config/routes.ts
  public/iconfont.js
  src/app.tsx
  src/global.less
Due: prettier --write, max lint --fix --eslint-only

feat: route
  config/routes.ts
  src/app.tsx
  src/pages/Login/index.tsx
Due: none

feat: update tsconfig.ts
  .npmrc
  package-lock.json
  package.json
  scripts/clean.js
  src/main/main.ts
  src/pages/Login/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, max lint --fix --eslint-only

feat: lock
  package-lock.json
Due: prettier --write

feat: store
  package-lock.json
  package.json
  settings.json
  src/app.tsx
  src/main/electronStore.ts
  src/main/main.ts
  src/main/preload.ts
  src/main/util.ts
  src/pages/Home/index.tsx
  src/pages/Setting/index.tsx
  src/preload.d.ts
Due: prettier --write

feature: drak
  config/defaultSettings.ts
  package-lock.json
  settings.json
  src/app.tsx
  src/global.less
  src/main/darkMode.ts
  src/main/electronStore.ts
  src/main/interface/Settings.ts
  src/main/main.ts
  src/main/preload.ts
  src/pages/Home/index.tsx
  src/pages/Setting/index.less
  src/pages/Setting/index.tsx
  src/preload.d.ts
Due: prettier --write

chore: init
  config/config.ts
  config/defaultSettings.ts
  config/themes.ts
  settings.json
  src/app.tsx
  src/components/Guide/Guide.tsx
  src/global.less
  src/main/main.ts
  src/normalize.less
Due: prettier --write
